.place__title {
    width: 100%;
    font-size: 72px;
    margin: auto;
    text-align: left;
    font-style: normal;
    font-weight: 900;
    line-height: 76px;

}

@media screen and (max-width: 768px) {
    body {
    }
    .place__title {
        font-size: 42px;
        font-style: normal;
        font-weight: 900;
        line-height: 46px;
        letter-spacing: 0em;
        text-align: left;


      }

    }
