.lead__title {
  max-height: 200px;
  max-width: 720px;
  margin: auto;
  padding-top: 56px;
  text-align: center;
  font-size: 96px;
  line-height: 100px;

}

@media screen and (max-width : 320px) {
  body {
  }
    .lead__title{
      font-size: 40px;
      line-height: 44px;
    }

  }

  @media screen and (max-width : 658px) {
    body {
    }
      .lead__title{
        font-size: 45px;
        line-height: 50px;
      }

    }
