.intro {
  display: flex;
  flex-direction: column;
  width: 690px;
  padding-left: 148px;
}

@media screen and (max-width : 1024px) {
  body {
  }
    .intro {
      padding-left: 48px;
    }
    
  }