.intro {
  display: flex;
  flex-direction: column;
  width: 690px;
  height: auto;
  padding-left: 148px;
}

@media screen and (max-width : 1024px) {
  body {
  }
    .intro {
      padding-left: 48px;
    }
    
  }

  @media screen and (max-width : 768px) {
    body {
    }
      .intro {
        width: 92%;
        padding-left: 24px;
      }
      
    }
    @media screen and (max-width : 320px) {
      body {
      }
        .intro {
          width: 90%;
        
        }
        
      }