.cover {
  background-image: url(./__background/cover-trains.jpg);
  width: 100%;
  max-width: 1184px;
  min-height: 57.813vw;
  min-height: 740px;
  margin: auto;
  background-size: cover;
  background-position: center;
  position: relative;
 
}

.cover::before {
  content: '';
  background: #2A2C2F;
  opacity: 30%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.cover:hover::before {
  opacity: 80%;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100vw;
    min-height: 62.5vw;
    }

  }

  
