.intro__title {
  max-width: 690px;
  padding-top: 92px;
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .intro__title {
    padding-top: 88px;
    }

  }

  @media screen and (max-width: 320px) {
    .intro__title {
      padding-top: 64px;
      font-size: 32px;
      line-height: 35px;
      }
  
    }